<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   sdlpal.entitlements
   SDLPal

   Created by palxex on 2021/1/27.
   Copyright (c) 2021 SDLPAL team. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
