#####################################################
# Configuration file for SDLPAL                     #
#                                                   #
# Lines started with '#' is treated as comments.    #
#####################################################

# GamePath: Indicate the path where the game resource located.
#GamePath=.

# SavePath: Indicate the path where the game should save. 
#           Significant if the GamePath cannot write.
#SavePath=.

# CD: Indicates which type of CD audio source to use. Valid types include 'RAW',
#     'OGG' and 'MP3'. 'RAW' means use the SDL 1.2's CDAudio API (default when
#     compiled with SDL 1.2), 'OGG' means use files named as '100xx.ogg' inside
#     the 'ogg' directory (default when compiled with SDL 2.0), while 'MP3'
#     means use files named as '100xx.mp3' inside the 'mp3' directory.
#CD=OGG

# MUSIC: Indicates which type of music source to use. Valid types include 
#        'RIX', 'MIDI', 'OGG' and 'MP3'. 'RIX' means use the RIX music (default),
#        'MIDI' means midi (either in 'mus.mkf' or inside 'musics' directory),
#        'OGG' means use files named as 'xx.ogg' inside the 'ogg' directory, while
#        'MP3' means use files named as 'xx.mp3' inside the 'mp3' directory.
#Music=RIX

# RIXExtraInit: Indicate extra OPL command sequence to insert before each loop start.
#               ENSURE YOU KNOW WHAT YOU'RE DOING.
#               NOT AVAILABLE IN OFFICIAL BUILDS.
#RIXExtraInit=168,87,184,9,167,3,183,15,

# MIDIClient: Indicate MIDI Client Setting.
#             on iOS/Win32/UWP/ANGLE no setting needed, so forget this setting.
#             on *nix that have alsa devel library compiled, specify ALSA MIDI Port here.
#             otherwise, specify any midiplayer or wrapper here, that accept
#               `CLI midifile` syntax.
#MIDIClient=14.0

# OPLCore: Indicates the OPL emulator core to use. Valid types include 'DBFLT'
#          (default), 'MAME', 'DBINT' and 'NUKED'.
#OPLCore=DBFLT

# OPLChip: Indicates the kind of OPL chip to be emulated. Valid types include 'OPL2'
#          (default) and 'OPL3'. Note: the 'NUKED' core does not support 'OPL2'.
#OPLChip=OPL2

# Stereo: Indicates whether to use mono audio or stereo audio. Non-zero means to use
#         stereo audio (default), while zero means only use mono audio.
#Stereo=1

# UseSurroundOPL: Indicates whether to use surround opl emulator or not. Non-zero
#                 means to using (default), while zero means not to use. Only
#                 valid when Stereo is set to non-zero.
#UseSurroundOPL=1

# SampleRate: Indicates which sample rate to use, valid values include 44100 (default),
#             and 22050. Other values (<=48000) are supported but not recommended.
#SampleRate=44100

# OPLSampleRate: Indicates which sample rate to use for opl emulator. Suggested value
#                is 49716, but other values may also be used.
#OPLSampleRate=49716

# SurroundOPLOffset: Indicates the frequency offset of surround opl. The default and
#                    recommended value is 384.0, but other values may also be used.
#SurroundOPLOffset=384.0

# ResampleQuality: Indicates the resample quality, valid values from 0 to 4 (default).
#                  Larger value indicates higher quality.
#ResampleQuality=4

# AudioBufferSize: Indicates the size of audio buffer in samples. Valid values are in 
#                  range 2 - 32768, but should be power of 2. Default value is 1024.
#AudioBufferSize=1024

# Volume: replaced by MusicVolume/SoundVolume
# MusicVolume: Indicates the music volume. Valid values are from 0 to 100, default is 100.
#MusicVolume=100

# SoundVolume: Indicates the SFX volume. Valid values are from 0 to 100, default is 100.
#SoundVolume=100

# WindowWidth: Indicates the width of game window. Default value varies on different
#              platforms. On desktop, the default value is 640.
#WindowWidth=640

# WindowHeight: Indicates the height of game window. Default value varies on different
#               platforms. On desktop, the default value is 400.
#WindowHeight=400

# FullScreen: Indicates whether the game should started fullscreen or not, default is not.
#             On some platforms, such as mobile OS or WinRT, this option is ignored.
#FullScreen=0

# LaunchSetting: Indicates whether launch settings UI before game launch. Only available on
#                Win32/*nix that have fltk/android/iOS.
#LaunchSetting=0

# EnableKeyRepeat: Indicates whether enable detecting touch event repeatly.
#EnableKeyRepeat=0

# UseTouchOverlay: Indicates whether show touch overlay. Only significant for mobile usage.
#UseTouchOverlay=0

# EnableAviPlay: Indicates whether enable AVI playback. AVI only exist in the Win95 game distribution.
#                Note: SDLPal only support the codec the original distribution uses.
#EnableAviPlay=0

# ScaleQuality: Indicates whether use bilinear filtering when stretching, only avilable when EnableGLSL=0
#               In other case the shader handles it.
#ScaleQuality=0

# EnableGLSL: Recently a EXPERIMENTAL hacked OpenGL/GLES based backend was introduced, which
#             accepts RetroArch GLSL Shaders. This option MUST be used with Shader option.
#EnableGLSL=0

# Shader: Path to RetroArch GLSL Shaders( see https://github.com/libretro/glsl-shaders ).
#         Either glsl or glslp; either absolute path or relative to GamePath or ShaderPath(deprecated).
#Shader=/Applications/RetroArch.app/Contents/Resources/shaders/shaders_glsl/xbrz/xbrz-freescale.glslp

# ShaderPath: Indicate the path where the shaders locates.
#             DEPRECATED.
#ShaderPath=.

# EnableHDR: ACESFilm based HDR effect. Only valid when EnableGLSL=1.
#EnableHDR=0

# TextureWidth/TextureHeight:
#   1. When EnableGLSL=1, the final(before blitting) texture size. If your mobile device have very
#      high resolution and the GPU cannot afford the Shader specified, try set a lower texture size.
#   2. When EnableGLSL=0, only specify the ratio that KeepAspectRatio use.
#TextureWidth=640
#TextureHeight=400

# KeepAspectRatio: Indicates whether the content in game window should keep its original
#                  aspect ratio (default) or not. When aspect ratio is kept, there may be
#                  left/right or top/bottom black edges in the game window. Currently this
#                  value is only valid if the game is built with SDL 2.0 or higher, otherwise
#                  this value is ignored.
#KeepAspectRatio=1

# MessageFileName: Indicates whether to use external message files.
#MessageFileName=jm.msg

# FontFileName: Indicates whether to use external font files. Currently supports only BDF font.
#FontFileName=jp.bdf

# LogLevel: This value controls how many logs can be output by the program. Valid ranges are:
# 0 (Verbose), 1 (Debug), 2 (Informational), 3 (Warning), 4 (Error) and 5 (Fatal). Only logs
# whose levels are larger or equal to this value can be output.
#LogLevel=5

# LogFileName: When set, the program's log will be output to this file as well.
#LogFileName=sdlpal.log

# AudioDevice: The ID of audio device to use. Only supported when compiled with SDL2. If this
#              item is set to a negative value (default), the default audio device will be used.
#AudioDevice=-1
