name: Linux CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Install Dependencies
      run: sudo apt-get install libsdl2-dev libfltk1.3-dev upx-ucl python3-pip fuse && sudo pip3 install cloudsmith-cli
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - name: make
      run: cd unix && make CCFLAGS="-DAPPIMAGE=1"
    - name: appimage
      run: mkdir deploy && cd unix && TRAVIS_BUILD_DIR=$GITHUB_WORKSPACE bash appimage.sh
    - name: check
      run: rm -f main.unix.* && cd unix && make check
    - name: deploy
      run: CLOUDSMITH_API_KEY=${{secrets.CLOUDSMITH_API_KEY}} cloudsmith push raw sdlpal/sdlpal
           --version `awk -F\" '{print $2;}' generated.h` --name AppImage
           --republish deploy/*.AppImage --tags "branch/$GITHUB_HEAD_REF"
