name: MinGW32 CI

on:
  push:
    branches: '*'
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Install Dependencies
      run: sudo apt-get -y install --no-install-recommends binutils-mingw-w64-i686 gcc-mingw-w64-i686 g++-mingw-w64-i686 mingw-w64-i686-dev zip upx-ucl pipx && pipx install cloudsmith-cli
    - uses: actions/checkout@v4
    - name: submodules
      run: |
        sed -i 's#\.\./#https://github.com/sdlpal/#g' .gitmodules
        git submodule init && git submodule update
    - name: make sdl
      run: |
        cd 3rd/SDL
        mkdir $HOME/cache
        cmake -DCMAKE_SYSTEM_NAME=Windows -DCMAKE_C_COMPILER=i686-w64-mingw32-gcc -DCMAKE_CXX_COMPILER=i686-w64-mingw32-g++ -DSDL_SHARED=OFF -DSDL_STATIC=ON -DSDL_TEST_LIBRARY=OFF -DCMAKE_INSTALL_PREFIX:PATH=$HOME/cache . -G Unix\ Makefiles
        cmake --build . --config Release -v
        cmake --install .
        echo "PKG_CONFIG_PATH=$HOME/cache/lib/pkgconfig" >> "$GITHUB_ENV"
    - name: make
      run: |
        cd win32
        make HOST=i686-w64-mingw32-
        i686-w64-mingw32-strip -s sdlpal.exe
        upx --best --lzma sdlpal.exe
        zip sdlpal-win32-mingw.zip sdlpal.exe
        mkdir ../deploy/
        mv sdlpal-win32-mingw.zip ../deploy/
        cd ..
    - name: deploy
      if: github.repository == 'sdlpal/sdlpal' && github.event_name != 'pull_request'
      env:
        CLOUDSMITH_API_KEY: ${{secrets.CLOUDSMITH_API_KEY}}
      run: pipx ensurepath && cloudsmith push raw sdlpal/sdlpal
           --version `awk -F\" '{print $2;}' generated.h` --name MinGW32
           --republish deploy/*.zip --tags "branch/`echo $GITHUB_REF | sed s#refs/heads/##`"
    - uses: actions/upload-artifact@v4
      with:
        path: deploy
